{% extends 'baseback.html.twig' %}

{% block title %}Edit ProduitEchange{% endblock %}

{% block body %}
    <h1>Edit ProduitEchange</h1>

    {{ include('produit_echange/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_echange_index') }}">back to list</a>

    {{ include('produit_echange/_delete_form.html.twig') }}
{% endblock %}
