{% extends 'basefront.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-warning text-white">
                        <h3 class="card-title">Create new Commande</h3>
                    </div>
                    <div class="card-body">
                        {{ include('commande/_form.html.twig') }}
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_commande_index') }}" class="btn btn-warning">back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

